<html>

<head>
    <link type="text/css" href="create-wallet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alike+Angular|Asul|Concert+One|Eczar|Fruktur|Kavoon|Neuton|Space+Mono|Tillana|Work+Sans" rel="stylesheet">
</head>

<body>

    <header>
    </header>

    <main>
        <div class="header">
            <img class="logo" src="joro-wallet.png" width=96 height=96>
            <div>
                <span>JoroWallet</span>
            </div>
            <span id="close-window" class="close">X</span>
        </div>

        <div class="main-content">
            <form class="choice-form">

                <div class="form-row">
                    <input id="name" class="main-input" type="text" name="wallet-name" placeholder="Wallet Name">
                </div>

                <div class="form-row">
                    <input id="password" class="main-input" type="password" name="wallet-password" placeholder="Password">
                </div>

                <div class="form-row">
                    <button id="import-wallet" class="main-button">Create Wallet</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
    </footer>

</body>
<script>
    let {
        ipcRenderer
    } = require('electron');
    
    let buttonCreateWallet = document.getElementById("import-wallet");
    let buttonCloseWindow = document.getElementById("close-window");

    let username = document.getElementById('name').value;
    let password = document.getElementById('password').value;

    buttonCreateWallet.addEventListener('click', function(e) {
        e.preventDefault();
        ipcRenderer.send("import-existing-wallet", {
            username: username,
            password: password
        });
    })

    buttonCloseWindow.addEventListener("click", function(e) {
        e.preventDefault();
        ipcRenderer.send('close');
    })

    ipcRenderer.on('error', (err) => {
        alert(err);
    })

</script>

</html>
