<html>

<head>
    <link type="text/css" href="main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alike+Angular|Asul|Concert+One|Eczar|Fruktur|Kavoon|Neuton|Space+Mono|Tillana|Work+Sans" rel="stylesheet">
</head>

<body>

    <header>
    </header>

    <main>
        <div class="header">
            <img class="logo" src="joro-wallet.png" width=96 height=96>
            <div>
                <span>JoroWallet</span>
            </div>
            <span class="close">X</span>
        </div>

        <div class="main-content">
            <form class="choice-form">
                <div class="form-row">
                    <button class="main-button">Create Wallet</button>
                </div>
                
                <div class="form-row">
                    <button class="main-button">Import Wallet</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
    </footer>

</body>

</html>
