<html>

<head>
    <link type="text/css" href="main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alike+Angular|Asul|Concert+One|Eczar|Fruktur|Kavoon|Neuton|Space+Mono|Tillana|Work+Sans" rel="stylesheet">
</head>

<body>

    <header>
    </header>

    <main>
        <div class="header">
            <img class="logo" src="joro-wallet.png" width=96 height=96>
            <div>
                <span>JoroWallet</span>
            </div>
            <span id="close-window" class="close">X</span>
        </div>

        <div class="main-content">
            <form class="choice-form">
                <div class="form-row">
                    <button id="create-wallet" class="main-button">Create Wallet</button>
                </div>

                <div class="form-row">
                    <button id="import-wallet" class="main-button">Import Wallet</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
    </footer>

</body>

<script>
    let {
        ipcRenderer
    } = require('electron');
    let buttonCreateWallet = document.getElementById("create-wallet");
    let buttonCloseWindow = document.getElementById("close-window");
    let buttonImportWallet = document.getElementById('import-wallet');

    buttonCreateWallet.addEventListener('click', function(e) {
        e.preventDefault();
        window.location.href = "create-wallet.html";
    })

    buttonImportWallet.addEventListener('click', function(e){
        e.preventDefault();
        window.location.href = "import-wallet.html";
    });

    buttonCloseWindow.addEventListener("click", function(e) {
        e.preventDefault();
        ipcRenderer.send('close');
    })

</script>

</html>
