<html>

<head>
    <link type="text/css" href="wallet-dashboard.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alike+Angular|Asul|Concert+One|Eczar|Fruktur|Kavoon|Neuton|Space+Mono|Tillana|Work+Sans" rel="stylesheet">
</head>

<body>

    <header>
    </header>

    <main>
        <div class="header">
            <img class="logo" src="joro-wallet.png" width=128 height=128>
            <div class="right-header">
                <div>
                    <span class="app-name">JoroWallet</span>
                </div>
                <span id="close-window" class="close">X</span>  
            </div>
        </div>
  
        </div>

        <div class="main-content">
            <div class="navbar">
                <ul class="navbar-holder">
                    <li class="navbar-item">
                        <span>
                            <img src="../../resources/my-wallet-ico.png" width=48 height=48>
                        </span>
                        MyWallet
                    </li>
                    <li class="navbar-item">
                        <span style="filter: brightness(200%);">
                           <img src="../../resources/transactions-ico.png" width=48 height=48>
                        </span>
                        Transact
                    </li>
                    <li class="navbar-item">
                        <span style="filter: brightness(200%);">
                            <img src="../../resources/logout-ico.png" width=48 height=48>
                        </span>
                        Change
                    </li>
                </ul>
            </div>
            <div class="content">
            </div>
        </div>
    </main>

    <footer>
    </footer>

</body>
<script>
    let {
        ipcRenderer
    } = require('electron');

    let buttonCreateWallet = document.getElementById("create-wallet");
    let buttonCloseWindow = document.getElementById("close-window");

    buttonCreateWallet.addEventListener('click', function(e) {
        e.preventDefault();        
        var elliptic = require('elliptic');
        var curve = elliptic.ec("secp256k1");

        var Crypto = require('crypto-js');

        let input = document.getElementById('password');
        let password = input.value;
        var keyPair = curve.genKeyPair();

        var pubKey = keyPair.getPublic().getX().toString(16) +
            (keyPair.getPublic().getY().isOdd() ? "1" : "0");

        sessionStorage['privKey'] = Crypto.AES.encrypt(keyPair.getPrivate().toString(16), password);
        sessionStorage['pubKey'] = pubKey;
        sessionStorage['address'] = Crypto.RIPEMD160(pubKey).toString(Crypto.enc.hex);
        console.log(sessionStorage);

        ipcRenderer.send("create-new-wallet");
    })

    buttonCloseWindow.addEventListener("click", function(e) {
        e.preventDefault();
        ipcRenderer.send('close');
    })

</script>

</html>
